h4
{
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
}

svg
{
    overflow: visible;
}

sup, sub
{
    cursor: pointer;
}

.navbar
{
    display: none;
}

.diagram
{

}

.sparkline
{
    width: 160px;
    height: 60px;
    margin: 10px;
}

.important
{
    text-decoration: underline;
}

.highcharts-container
{
    overflow: visible !important;
}

.settings-sidebar-background
{
    display: none;
    z-index: 9;
    position: fixed;
    top: calc(100% - 10em);
    height: 10em;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 1.0));
}

.settings-sidebar
{
    z-index: 10;
    position: fixed;
    min-width: 3em;
    max-width: 3em;
    top: 35%;
    margin: 0.5em;
    padding: 0.5em;
    min-height: auto;
}

.settings-sidebar img
{
    max-width: 2em;
    max-height: 2em;
    margin: 0.5em 0 0.5em 0;
    cursor: pointer;
}

.v-overlay
{
    z-index: 10;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgba(150, 150, 150, 0.75);
}

.v-popup
{
    position: relative;
    top: 25%;
    left: 25%;
    min-width: 480px;
    width: 50%;
    min-height: 480px;
    height: 50%;
    border: 1px solid #333;
    border-radius: 0.25rem;
    background: white;
    padding: 5em;
}

.v-popup p
{
    line-height: 2;
    font-family: 'Roboto Mono', Sans-Serif, sans-serif;
    font-size: 1.2rem;
}

.v-badge
{
    font-family: 'Roboto Mono', Sans-Serif, sans-serif;
    font-weight: bolder;
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 0.25rem;
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    outline: 0;
}

.v-badge-area
{
    font-family: 'Roboto Mono', Sans-Serif, sans-serif;
    font-weight: bolder;
    font-size: 0.9rem;
    padding: 0.1rem 0.5rem;
    border-radius: 0.25rem;
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 2px dashed transparent;
    min-height: 1.6rem;
    max-height: 1.6rem;
    min-width: 2.5rem;
}

.v-metric
{
    background: #0C0;
}

.v-metric-area
{
    background: rgba(0, 204, 0, 0.1);
    border-color: #0C0;
}

.v-time
{
    background: #0AD;
}

.v-time-area
{
    background: rgba(0, 170, 221, 0.1);
    border-color: #0AD;
}

.v-unit
{
    background: #B6C;
}

.v-unit-area
{
    background: rgba(187, 102, 204, 0.1);
    border-color: #B6C;
}

.v-sign
{
    background: #F82;
}

.v-sign-area
{
    background: rgba(255, 136, 34, 0.1);
    border-color: #F82;
}

.report
{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    vertical-align: top;
    padding: 5em 5em 5em 7em;
    width: 100%;
    min-width: calc(480px + 8em);
    max-width: 100%;
    min-height: 100%;
}

.report a, .report a:hover, .report a:active, .report a:visited
{
    color: #2196F3;
    text-decoration: underline;
}

.report p, .report .text
{
    text-align: justify;
}

.report h1, .report h2, .report h3, .report h4
{
    min-width: 480px;
    width: 100%;
    max-width: 1920px;
    padding: 1em 0.1em 0.5em 0.1em;
    margin: 0 auto 0.5em auto;
}

.report table
{
    overflow: auto;
    vertical-align: middle;
    padding: 0 5px 0 5px;
}

.report .diagram
{
    width: 100%;
}

.report .v-table
{
    display: table;
    vertical-align: middle;
}

.report .link
{
    cursor: pointer;
}

.report .hidden
{
    display: none;
}

.v-float
{
    display: inline;
    float: left;
    width: 50%;
    margin: 1em 1em -1em 1em;
    overflow: auto;
    vertical-align: middle;
}

.v-inline
{
    display: inline;
    vertical-align:top;
}

.v-sec
{
    display: inline-block;
    vertical-align: top;
    margin: 0.1em auto 0.1em auto;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

.v-small
{
    min-width: 480px;
    width: 33%;
    max-width: 576px;
}

.v-medium
{
    min-width: 480px;
    width: 50%;

    float: left;
    display: inline;
    max-width: 960px;
}

.v-large
{
    min-width: 480px;
    width: calc(66% + 480px);
    max-width: 1920px;
}

.v-big
{
    min-width: 480px;
    width: 100%;
    max-width: 100%;
}

@media only screen and (max-width: 1200px)
{
    .v-float
    {
        width: 100%;
    }

    .v-small
    {
        width: 50%;
    }

    .v-medium
    {
        width: 50%;
    }

    .v-large
    {
        width: 100%;
    }
}

@media only screen and (max-width: 800px)
{
    .navbar
    {
        display: none;
    }

    .report
    {
        width: 100%;
        max-width: 100%;
        top: 0;
        left: 0;
        right: 0;
        padding: 1em 1em 10em 1em;
    }

    .settings-sidebar-background
    {
        display: block;
    }

    .settings-sidebar
    {
        position: fixed;
        max-height: 3em;
        min-height: 3em;
        top: calc(100% - 4em);
        left: 35%;
        margin: 0.5em;
        padding: 0.5em;
        width: 30%;
        min-width: 200px;
    }

    .settings-sidebar img
    {
        max-width: 2em;
        max-height: 2em;
        margin: 0 0.5em 0 0.5em;
    }

    .v-float
    {
        width: 100%;
        max-width: 100%;
    }

    .v-small, .v-medium, .v-large
    {
        width: 100%;
        max-width: 100%;
    }
}

.tooltipC
{
    position: relative;
    display: inline-block;
    color: red;
    border-bottom: 1px dotted black;
}

.tooltipC .tooltiptext
{
    visibility: hidden;
    min-width: 120px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -120px;
    transition: all 0.2s ease-in-out 0.2s;
}

.tooltipC .tooltiptext::after
{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltipC:hover .tooltiptext
{
    visibility: visible;
}